{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if user.is_authenticated %}
  {% if h_analysis.count > 0 %}

      {% for analysis in h_analysis %}
          <ol class="list-group">

              <li class="list-group-item list-group-item-warning"><b>Search Time:</b> {{analysis.created_at}}</li>
              <li class="list-group-item list-group-item-success"><b>Search Topic:</b> {{analysis.topic}}</li>
              <li class="list-group-item list-group-item-primary"><b>Positive Comments:</b> {{analysis.analysis_positive}}</li>
              <li class="list-group-item list-group-item-danger"><b>Negative Comments:</b> {{analysis.analysis_negative}}</li>
              <li class="list-group-item list-group-item-warning"><b>Neutral Comments:</b> {{analysis.analysis_neutral}}</li>
              
              <br><br><br><br>
          </ol>
      {% endfor %}

  {% else %}
    <div class="container">

            <h3>No search record in your database.</h3>
            <h2>Go to analysis page to do some search</h2>


    </div>

  {% endif %}
{% endif %}
{% endblock %}
